.main-button {
  border: none;
  border-radius: 50px !important;
  text-transform: uppercase;
  padding: 8px 20px;
  font-size: rem(14);
  font-family: $fontRegular;

  &.default {
    color: $colorWhite;
    background-color: $colorDefault;
    &:hover {
      background-color: $colorDefaultHover;
    }
  }

  &.outline-default {
    background-color: transparent;
    border: 1px solid $colorDefault;
    color: $colorDefault !important;
    &:hover {
      background-color: $colorDefault;
      color: $colorWhite !important;
    }
  }

  &.outline-dark {
    background-color: transparent;
    border: 1px solid $colorDark;
    color: $colorDark;
  }

  &.outline-white {
    background-color: transparent;
    border: 1px solid $colorWhite;
    color: $colorWhite;
  }
}
