/* SPACING */
$spaceAmounts: (0, 10, 15, 25, 30, 35, 40, 50);
$sides: (top, bottom, left, right);
/* END SPACING */

/* COLORS */
$colorDefault: initial;
$colorDefaultHover: initial;
$colorWhite: #fff;
$colorDark: #000;
/* END COLORS */

/* FONTS */
// Call Variable fonts declared in _vars.scss
$fontBlack: '', sans-serif;
$fontBold: '', sans-serif;
$fontMedium: '', sans-serif;
$fontRegular: '', sans-serif;
$fontLight: '', sans-serif;
$fontThin: '', sans-serif;

/* END FONTS */

/* IMAGES */
// $img   : '../../images/';
// $imgBg : '../../images/backgrounds/';
/* END IMAGES */
